*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 list-style-type: none;
 font-family: 'Poppins', sans-serif;
}

#game-container{
    height: 100vh;
}
h1{
    text-align: center;
}
/* .cell-border{
height: 500px;
width: 500px;
border: 5px solid #000;
border-radius: 25px;
padding: 30px;

} */
.cellDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    width: 150px;
    height: 150px;
    border: 2px solid;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
}

.cell-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 255px
}